<a href="https://colab.research.google.com/github/khushiiaroraa20/Big-Data-Analysis/blob/main/Ass3_12thFeb_202301031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1
import pandas as pd

data = {"Tid": [1,2, 3, 4, 5, 6, 7, 8, 9, 10],
         "Refund": ['yes', 'no', 'no', 'yes', 'no' , 'no', 'yes', 'no', 'no', 'no'],
        "Marital Status": ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
        "Taxable Income": ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
        "Cheat": ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']}

mydata = pd.DataFrame(data)
print(mydata)


#Question 2

print(mydata.loc[0])
print(mydata.loc[4])
print(mydata.loc[7])
print(mydata.loc[8])

   Tid Refund Marital Status Taxable Income Cheat
0    1    yes         Single           125K    No
1    2     no        Married           100K    No
2    3     no         Single            70K    No
3    4    yes        Married           120K    No
4    5     no       Divorced            95K   Yes
5    6     no        Married            60K    No
6    7    yes       Divorced           220K    No
7    8     no         Single            85K   Yes
8    9     no        Married            75K    No
9   10     no         Single            90K   Yes
Tid                    1
Refund               yes
Marital Status    Single
Taxable Income      125K
Cheat                 No
Name: 0, dtype: object
Tid                      5
Refund                  no
Marital Status    Divorced
Taxable Income         95K
Cheat                  Yes
Name: 4, dtype: object
Tid                    8
Refund                no
Marital Status    Single
Taxable Income       85K
Cheat                Yes
Name: 7, dtype: object
Tid                     9
Refund                 no
Marital Status    Married
Taxable Income        75K
Cheat                  No
Name: 8, dtype: object

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/FinalBalancedDataset.csv"
df = pd.read_csv(path)

print(df)

       Unnamed: 0  Toxicity                                              tweet
0               0         0   @user when a father is dysfunctional and is s...
1               1         0  @user @user thanks for #lyft credit i can't us...
2               2         0                                bihday your majesty
3               3         0  #model   i love u take with u all the time in ...
4               4         0             factsguide: society now    #motivation
...           ...       ...                                                ...
56740       56740         1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
56741       56741         1  you've gone and broke the wrong heart baby, an...
56742       56742         1  young buck wanna eat!!.. dat nigguh like I ain...
56743       56743         1              youu got wild bitches tellin you lies
56744       56744         0  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[56745 rows x 3 columns]